.item.completed{
    text-decoration: line-through;
}


.App{
    border:solid red;
    margin:auto;
    padding-left:10%;
    display:flex;
    flex-direction: column;
    width:400px;
}

.clearbtn{
    border:solid blue;
    width:50%;
    margin-left:25px;
}